/*Out sheld*/
.lyt{
    width: 100%;
    max-width: 1920px;
    min-width: 1280px;
}

/*Header Start*/
.header{
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
}
.headerimage{
    text-align: center;
}
/*Header End*/

/*Banner start*/
.banner{
    width: 100%;
    height: 780px;
    background-color:rgb(73, 72, 72);
    animation: changeColor 18s infinite;
}
@keyframes changeColor{
    0%{
        background-color: rgb(73, 72, 72);
    }
    25%{
        background-color: rgba(38, 32, 122, 0.89);
    }
    50%{
        background-color: rgb(0, 0, 0);
    }
    75%{
        background-color: rgba(38, 32, 122, 0.89);
    }
    100%{
        background-color: rgb(73, 72, 72);
    }
}
/*Navigation start*/
.nav{
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: url("../images/bannerbackgroundsea.png") no-repeat center;
    margin-top: -15px;
}
.nav-wrap{
    margin: 0 auto;
    width: 1180px;
    height: 70px;
    line-height: 70px;
    /* 3D animation */
    transform-style: preserve-3d;
    perspective: 500px;
}
.nav-wrap li{
    float: left;
    padding-right: 60px;
    padding-left: 60px;
    list-style-type: none;
    font-size: 19px;
}
.nav-wrap a{
    color: white;
}
.nav-wrap li:hover{
    background: url(../images/whitebannerbackground-resize.png) no-repeat center;
    transition: all 0.4s;
    transform: rotate3d(0, 0, 1, 15deg) scale(1.25); 
    opacity: 1;
    border-radius: 15%;
    cursor: pointer;
}
.nav-wrap li:hover a{
    color: black;
}
/*Navigation End*/
/*Image Trailer Start*/
.banner-pic{
    overflow: hidden;
    width:100%;
    height: 720px;
    background-color: rgba(128, 128, 128, 0.466);
    opacity: 1;
}

.slides{
    width: 100%;
    height: 720px;
    animation: 60s slideshow infinite;
}
.slides>img{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:0 auto;
}
@keyframes slideshow{
    0%{transform: translateY(0px)}
    3%{transform: translateY(0px)}
    8.5%{transform: translateY(-720px)}
    11.5%{transform: translateY(-720px)}
    18.5%{transform: translateY(-1440px)}
    21.5%{transform: translateY(-1440px)}
    28.5%{transform: translateY(-2160px)}
    31.5%{transform: translateY(-2160px)}
    38.5%{transform: translateY(-2880px)}
    41.5%{transform: translateY(-2880px)}
    48.5%{transform: translateY(-3600px)}
    51.5%{transform: translateY(-3600px)}
    58.5%{transform: translateY(-4320px)}
    61.5%{transform: translateY(-4320px)}
    68.5%{transform: translateY(-5040px)}
    71.5%{transform: translateY(-5040px)}
    78.5%{transform: translateY(-5760px)}
    81.5%{transform: translateY(-5760px)}
    88.5%{transform: translateY(-6480px)}
    91.5%{transform: translateY(-6480px)}
    97%{transform: translateY(-7200px)}
    100%{transform: translateY(-7200px)}
}
/*Image Trailer End*/
/*Banner End*/


/*Body Start*/
.home_01{
    background-color: rgba(247, 29, 29, 0.753);
    box-shadow: 0 0 20px 20px white inset;
}
.wrap_center{
    width: 1280px;
    margin: 0 auto;
}
/*About me Start*/
.About_me{
    position: relative;
    width: 100%;
    height: 600px;
    margin-bottom: 60px;
    margin-top: 30px;
    /*
    background-color: brown;*/
}
.home_title{
    transform-style: preserve-3d;
    perspective: 500px;
    position: absolute;
    top: 20px;
    left: 0;
    width: 105px;
    height: 160px;
    background:url("../images/About_Me_Title.png");
}
.home_title:hover{
    transition: all 0.5s;
    transform: rotate3d(0, 0.2, 0.8, -30deg);
}
.self_picture{
    position:absolute;
    bottom:25px;
    left:20px;
    width: 320px;
    height: 320px;
    background:url("../images/JustinLi.JPG");
    border-radius: 15%;
    box-shadow: 0 0 6px 6px rgba(250, 235, 215, 0.664) inset;
    transition: all 1s;
    transform: translateZ(-40px);
}
.cover_picture{
    width: 360px;
    height: 370px;
    border-radius: 15%;
    box-shadow: 0 0 12px 12px rgba(250, 235, 215, 0.664) inset;
    background: url("../images/cartoonIcon.png")
}
.container3d{
    position: absolute;
    bottom: 75px;
    left:100px;
    width: 360px;
    height: 370px;
    transition: all 1s;
    transform-style: preserve-3d;
    perspective: 500px;
}
.container3d:hover {
    transform: rotate3d(0, 1, 0, 180deg);
}

.container_me_text{
    position: absolute;
    bottom: 20px;
    right: 0px;
    height: 560px;
    width: 810px;
}
.container_me_text:hover{
    transition: all 0.6s;
    transform: scale(1.05);
    transform: rotate3d(0, 0, 1, 5deg);
}
.dialogue_box{
    position: relative;
    background: url(../images/Dialogue_Box.png) no-repeat;
    height: 556px;
    width: 810px;
    transition: all 0.6s;
}
.dialogue_text{
    position: absolute;
    top: 60px;
    right: 30px;
    height: 360px;
    width: 530px;
    background-color: rgba(85, 85, 172, 0.685);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 0.5;
}

/*About me End*/
.home_02{
    background-color: rgba(247, 29, 29, 0.753);
    box-shadow: 0 0 20px 20px white inset;
}
.Skills{
    position: relative;
    width: 100%;
    height: 600px;
    margin-bottom: 60px;
    margin-top: 30px;
}
/*About me End*/