/*Out sheld*/
.lyt{
    width: 100%;
    max-width: 1920px;
    min-width: 1280px;
    /*auto find height*/
    overflow: hidden;
}

/*Header Start*/
.header{
    width: 100%;
    height: 60px;
    background-color: antiquewhite;
}
.headerimage{
    text-align: center;
}
/*Header End*/

.banner{
    width: 100%;
    height: 480px;
    background-color:darkgray;
}
.nav{
    width: 100%;
    height: 60px;
    background-color: cornflowerblue;
}