/*Out sheld*/
.lyt{
    width: 100%;
    max-width: 1920px;
    min-width: 1280px;
    /*auto find height*/
    overflow: hidden;
}

/*Header Start*/
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: antiquewhite;
}
.headerimage{
    position: relative;
    text-align: center;
}
/*Header End*/

.banner{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color:darkgray;
}